<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kun.uz</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    {% include "navbar.html" %}
    {% for w_new in w_news %}
    <div class="maqola">
        <h2>{{ w_new.title }}</h2>
        <p>{{ w_new.description }}</p>
        <h4>Author: {{ w_new.author }}</h4>
        <p>Yaratilgan vaqti: {{ w_new.created_at }}</p>
        <hr>
    </div>
    {% endfor %}

</div>

</body>
</html>